# Model - Support Vector Machine

Predicting whether a Titanic passenger survided or not (binary outcome) is a classification problem.

We try to build a model using the [SVM] model.

> Note that this model is called SVC in scikit-learn.

[SVM]: https://en.wikipedia.org/wiki/Support_vector_machine

In [31]:
# read cleansed data frame
import pandas

In [32]:
cleansed_data = pandas.read_csv('data/cleansed.csv')
cleansed_data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Survived</th>
      <th>Pclass</th>
      <th>Sex</th>
      <th>Age</th>
      <th>SibSp</th>
      <th>Parch</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>3</td>
      <td>0</td>
      <td>22.0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>38.0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>3</td>
      <td>1</td>
      <td>26.0</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>35.0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>0</td>
      <td>3</td>
      <td>0</td>
      <td>35.0</td>
      <td>0</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [33]:
survived_column = cleansed_data["Survived"]
cleansed_data.drop("Survived", axis=1, inplace=True)

In [34]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(cleansed_data, survived_column, random_state=1)

In [35]:
from sklearn.svm import SVC

model = SVC(kernel='linear', probability=True, random_state=0)

In [36]:
model.fit(x_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=True, random_state=0,
  shrinking=True, tol=0.001, verbose=False)

In [37]:
y_predict = model.predict(x_test)

In [38]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test, y_predict)

0.7847533632286996